/* font cdn and local font-face */
@font-face { font-family: 'DejaVu Sans'; src: url('../fonts/dejavu-sans/DejaVuSans.eot'); src: url('../fonts/dejavu-sans/DejaVuSans.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavu-sans/DejaVuSans.woff2') format('woff2'), url('../fonts/dejavu-sans/DejaVuSans.woff') format('woff'), url('../fonts/dejavu-sans/DejaVuSans.ttf') format('truetype'), url('../fonts/dejavu-sans/DejaVuSans.svg#DejaVuSans') format('svg'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'DejaVu Sans'; src: url('../fonts/dejavu-sans/DejaVuSans-Bold.eot'); src: url('../fonts/dejavu-sans/DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavu-sans/DejaVuSans-Bold.woff2') format('woff2'), url('../fonts/dejavu-sans/DejaVuSans-Bold.woff') format('woff'), url('../fonts/dejavu-sans/DejaVuSans-Bold.ttf') format('truetype'), url('../fonts/dejavu-sans/DejaVuSans-Bold.svg#DejaVuSans-Bold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'DejaVu Sans'; src: url('../fonts/dejavu-sans/DejaVuSans-Oblique.eot'); src: url('../fonts/dejavu-sans/DejaVuSans-Oblique.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavu-sans/DejaVuSans-Oblique.woff2') format('woff2'), url('../fonts/dejavu-sans/DejaVuSans-Oblique.woff') format('woff'), url('../fonts/dejavu-sans/DejaVuSans-Oblique.ttf') format('truetype'), url('../fonts/dejavu-sans/DejaVuSans-Oblique.svg#DejaVuSans-Oblique') format('svg'); font-weight: normal; font-style: italic; font-display: swap; }

/* universal selector */
*, *:after, *:before { box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; }

/* comman class selector */
body { margin: 0; padding: 0; font-weight: 100; color: #000; font-size: 17px; font-family: 'DejaVu Sans'; }
h1, h2, h3, h4, h5, h6, span { margin: 0; padding: 0; color: #000000; }
h1 { font-size: 60px; font-weight: 600; padding-bottom: 30px; }
h2 { font-size: 50px; font-weight: 600; padding-bottom: 20px; text-transform: uppercase; letter-spacing: 2px; }
h3 { font-size: 20px; font-weight: 400; padding-bottom: 20px; }
h4 { font-size: 21px; font-weight: 400; padding-bottom: 10px; text-transform: uppercase; }
p { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; color: #fff; transition: all 600ms ease 0s; }
a:hover { color: #000; }
img { max-width: 100%; height: auto; }
.container { margin-left: auto; margin-right: auto; padding: 0px 15px; width: 1230px; }
.container:after { width: 100%; display: table; clear: both; }
.row { display: flex; flex-wrap: wrap; align-items: center; width: auto; }
.btn { padding: 10px 0px; text-transform: uppercase; font-size: 20px; }
.btn a { display: inline-block; background-color: #000; padding: 15px 35px; margin: 0px 10px 10px 0px; position: relative; }
.btn a:hover { color: #000; z-index: 1; box-shadow: 5px 5px 6px 3px #000000b0; }
.btn a:after { content: ""; position: absolute; top: 0; left: 0; background-color: #fff; width: 100%; height: 0%; transition: all 900ms ease 0s; z-index: -1; }
.btn a:hover:after, .btn a:hover:before { height: 100%; }
.btn a:before { content: ""; position: absolute; bottom: 0; right: 0; background-color: #fff; width: 100%; height: 0%; transition: all 900ms ease 0s; z-index: -1; }
.pd-top { padding-top: 100px; }
.pd-bot { padding-bottom: 80px; }

/* header start */

/* header-top start */
header.header-top { display: block; width: 100%; background-color: #000; }
.header-top-left { width: 50%; text-align: left; }
.left-top-list ul { display: flex; align-items: center; }
.left-top-list ul li { text-transform: capitalize; }
.left-top-list ul li:first-child a { font-size: 26px; padding-left: inherit; }
.left-top-list ul li:last-child a { padding: 24px 15px 26px; }
.left-top-list ul { display: flex; align-items: center; }
.header-top-right { width: 50%; text-align: right; }
.left-top-list ul li a { display: block; padding: 20px 15px; position: relative; }
.right-top-list ul { display: flex; align-items: center; justify-content: flex-end; }
.right-top-list ul li { font-size: 25px; }
.right-top-list ul li:last-child a { padding-right: inherit; }
.right-top-list ul li a { display: block; padding: 20px 15px 21px; position: relative; }
.left-top-list ul li a:hover, .right-top-list ul li a:hover { z-index: 1; }
.left-top-list ul li a:after, .right-top-list ul li a:after { content: ""; width: 0%; height: 100%; position: absolute; top: 0; left: 0; background-color: #fff0f0; transition: all 1s ease 0s; z-index: -1; }
.left-top-list ul li a:hover:after, .right-top-list ul li a:hover:after { width: 100%; }

/* header-top end */
header.header-main { display: block; width: 100%; }
.header-left-col ul li a { display: block; color: #000; padding: 65px 18px; }
.header.row { align-items: center; }
.header-left-col ul { display: flex; align-items: center; }
.header-left { width: 20%; }
.header-logo img { display: block; width: auto; object-fit: cover; height: 80px; }
.header-logo { width: 166px; padding: 33px 0px; }
.header-right { width: 80%; }
.header-logo a { display: inline-block; }
.header-right-col ul li a { display: inline-block; color: #000; padding: 65px 17px; }
.header-left-col { width: 75%; }
.header-right-col ul { display: flex; align-items: center; justify-content: flex-end; }
.header-right-col { width: 25%; }
.header-left-col ul li { text-transform: uppercase; }
.header-right-col ul li { text-transform: capitalize; }
.header-right-col ul li:first-child a i { padding-right: 5px; }
.header-right-col ul li:last-child a { padding-right: inherit; }
.header-left-col ul li a:hover, .header-right-col ul li a:hover { color: #fff; background-color: #000; }

/* header end

/* hero sec start */
.hero-main { width: 100%; display: block; background-color: #f7f7f7; padding: 80px 0px 0px; }
.hero-col { width: 50%; }
.hero-img img { display: block; object-fit: cover; max-height: 565px; width: 100%; }
.hero-img { width: 100%; max-width: 480px; margin: 0 0 0 auto; }

/* hro sec end */

/* box sec start */
.box-main { display: block; width: 100%; }
.box.row { margin: 0px -15px; }
.box-col { width: calc(100% / 4 - 30px); padding: 15px; border: 1px solid #b2b2b2; margin: 15px; text-align: center; }
.box-img img { display: block; width: auto; height: 500px; margin: 0 auto; }
.box-img { width: 100%; position: relative; }
.box-icon ul li a { color: #000; display: inline-block; }
.box-icon ul li { display: block; padding-bottom: 5px; }
.box-icon { position: absolute; top: 0; right: 0; }
.box-col h3 { font-size: 15px; padding-top: 45px; }

/* box sec end */

/* middel sec start */
.middel-one--main { display: block; width: 100%; padding: 50px 0px 0px; }
.middel-one { background-color: #fff0f0; }
.middel-col { width: 50%; }
.middel-img img { display: block; width: auto; height: 400px; object-fit: contain; object-position: bottom; padding-left: 45px; }
.middel-img { width: 600px; padding-top: 70px; }
.middel-col h3 { text-transform: capitalize; }

/* middel  sec two */
.middel-two-main { display: block; width: 100%; padding: 50px 0px 0px; }
.middel-two { background-color: #feffd9; }
.middel-one .ex { padding-left: 45px; }

/* middel sec end */

/* footer start */
.footer-one { width: 30%; padding: 15px; }
.footer-two { width: 20%; padding: 15px; }
.footer-three { width: 20%; padding: 15px; }
.footer-four { width: 30%; padding: 15px; }
footer.footer-main { display: block; width: 100%; padding: 30px 0px; }
.footer-logo a { display: inline-block; }
.footer-logo img { display: block; width: auto; object-fit: contain; height: 100px; }
.footer-logo { width: 150px; padding-bottom: 10px; }
.footer.row { align-items: inherit; margin: 0px -15px; }
.footer-text { padding-bottom: 35px; font-size: 16px; }
.footer-icon ul li a { display: inline-block; color: #000; background-color: #cdcdcd; border-radius: 100%; width: 55px; height: 50px; padding: 11px 0px 0px 15px; font-size: 25px; }
.footer-icon ul li { display: inline-block; padding-right: 20px; }
.footer-icon ul li:first-child a { padding: 11px 0px 0px 20px; }
.footer-header { padding: 15px 0px 15px; }
.footer-list ul li { display: block; text-transform: capitalize; padding-bottom: 20px; }
.footer-list ul li a { display: inline-block; color: #000; font-size: 16px; }
.footer-info { font-size: 16px; padding-bottom: 30px; }
.footer-form form input[type="email"] { border: none; background-color: #cdcdcd; padding: 20px 87px 20px 15px; }
.footer-form form a { display: inline-block; color: #FFE; background-color: #000; padding: 20px 20px; font-size: 28px; }
.footer-form form { display: flex; flex-wrap: wrap; }
.footer-icon ul li a:hover { color: #fff; background-color: #000; }
.footer-list ul li a:hover { color: #cdcdcd; }

/* footer end */

/*  media query  */

/*/// Large devices (laptops/desktops, 992px and up) /// */
@media  (max-width:1230px) {
	.container { width: 980px; }
	.header-logo img { height: 60px; }
	.header-logo { width: 135px; }
	.header-left { width: 15%; }
	.header-right { width: 85%; }
	.header-left-col ul li a { font-size: 15px; padding: 56px 13px; }
	.header-right-col ul li a { font-size: 15px; padding: 56px 10px; }
	.hero-main { padding: 80px 0px 0px; }
	.hero-img { max-width: 375px; }
	.hero-header h1 { font-size: 56px; }
	.hero-header h3 { font-size: 18px; }
	.btn { font-size: 19px; }
	.box-main.pd-top.pd-bot { padding: 50px 0px; }
	.box-img img { height: 400px; }
	.middel-img img { padding: 0; }
	.middel-img { width: 100%; max-width: 440px; margin: 0 auto; padding-top: 40px; }
	.middel-col.ex { padding: 20px; }
	.middel-col h2 { font-size: 40px; }
	.footer-form form input[type="email"] { padding: 10px 12px 10px 15px; }
	.footer-form form a { padding: 10px 10px; }
}

/*/// Medium devices (landscape tablets, 768px and up) /// */
@media (max-width:992px) {
	.container { width: 750px; }
	.header-right { width: 100%; display: none; }
	.header-left { width: 100%; }
	.header-logo { width: 100%; text-align: center; }
	.hero-img { max-width: 300px; }
	.hero-main { padding: 50px 0px 0px; }
	.hero-header h1 { font-size: 42px; }
	.hero-header h3 { font-size: 16px; }
	.btn { font-size: 16px; }
	.box.row { width: 100%; margin: inherit; }
	.box-col { width: calc(100% / 3 - 30px); }
	.middel-col h2 { font-size: 32px; }
	.middel-col.ex { padding: 5px; }
	.middel-img img {height: 335px;}
	.middel-col h3 { font-size: 18px; }
	.footer.row { width: 100%; margin: inherit; }
	.footer-one, .footer-two, .footer-three, .footer-four { width: 50%; }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media (max-width:768px) {
	.container { width: 560px; }
	.hero-col { width: 100%; }
	.hero-img { margin: 0 0 0 auto; }
	.box-col { width: 100%; max-width: 300px; margin: 15px auto; }
	.box-main.pd-top.pd-bot { padding: 30px 0px; }
	.middel-one--main { padding: 25px 0px; }
	.middel-col { width: 100%; }
	.middel-col h2 { padding-top:  20px;  }
	.middel-col.ex { padding: 20px; }
	.middel-img img { height: 300px; margin: 0 auto; }
	.middel-img { width: 100%; padding-top: 20px; }
	.footer-one, .footer-two, .footer-three, .footer-four { width: 100%; }
}

@media (max-width: 576px){
	.container	{ width: 360px; }
}